<section class="privacy-sector">
  <div v-if="show" class="cookie-policy">
    <div class="cookie-content">
      <h2>Política de cookies <button @click="hidePolicy">Aceptar</button></h2>
      <smal>Si contínuas navegando aceptas la política de cookies.</smal>
      <p>
        Una cookie es un pequeño fichero de texto que se almacena en su navegador cuando visita casi cualquier página
        web.
        Su utilidad es que la web sea capaz de recordar su visita cuando vuelva a navegar por esa página.
        Las cookies suelen almacenar información de carácter técnico, preferencias personales, personalización de
        contenidos,
        estadísticas de uso, enlaces a redes sociales, acceso a cuentas de usuario, etc.
      </p>
      <h3>Cookies utilizadas en este sitio web</h3>
      <p>
        Siguiendo las directrices de la Agencia Española de Protección de Datos procedemos a detallar el uso de cookies
        que hace
        esta web con el fin de informarle con la máxima exactitud posible.
      </p>
      <h4>Este sitio web no utiliza cookies propias.</h4>
      <h4>Este sitio web utiliza las siguientes cookies de terceros:</h4>
      <ul>
        <li>
          <strong>Redes sociales:</strong> Cada red social utiliza sus propias cookies para que usted pueda pinchar en
          botones del tipo
          Me gusta o Compartir.
        </li>
      </ul>
      <h3>Notas adicionales</h3>
      <ul>
        <li>
          Ni esta web ni sus representantes legales se hacen responsables ni del contenido ni de la veracidad de las
          políticas de
          privacidad que puedan tener los terceros mencionados en esta política de cookies.
        </li>
        <li>
          Los navegadores web son las herramientas encargadas de almacenar las cookies y desde este lugar debe efectuar
          su derecho
          a eliminación o desactivación de las mismas. Ni esta web ni sus representantes legales pueden garantizar la
          correcta o
          incorrecta manipulación de las cookies por parte de los mencionados navegadores.
        </li>
        <li>
          En algunos casos es necesario instalar cookies para que el navegador no olvide su decisión de no aceptación de
          las mismas.
        </li>
        <li>
          En el caso de las cookies de Google Analytics, esta empresa almacena las cookies en servidores ubicados en
          Estados Unidos
          y se compromete a no compartirla con terceros, excepto en los casos en los que sea necesario para el
          funcionamiento del
          sistema o cuando la ley obligue a tal efecto. Según Google no guarda su dirección IP. Google Inc. es una
          compañía adherida
          al Acuerdo de Puerto Seguro que garantiza que todos los datos transferidos serán tratados con un nivel de
          protección acorde
          a la normativa europea.
        </li>
      </ul>
      <div><br></div>
    </div>
  </div>
  <div v-if="showPrivacity" class="cookie-policy">
    <div class="cookie-content">
      <h2>Política de Privacidad <button @click="hidePrivacity">Cerrar</button></h2>
      <p><strong>Última actualización:</strong> 25/08/2024</p>

      <h2>1. Introducción</h2>
      <p>Bienvenido a mi portafolio web. En este sitio, me comprometo a respetar tu privacidad. Esta política de
        privacidad describe cómo se maneja tu información al interactuar con mi sitio web.</p>

      <h2>2. Información Recopilada</h2>
      <p>Este sitio web no recopila, almacena ni procesa ninguna información personal de los usuarios. No se requiere
        que
        proporciones datos personales como nombre, dirección de correo electrónico, número de teléfono u otra
        información
        de identificación para acceder o utilizar este sitio.</p>

      <h2>3. Cookies</h2>
      <p>Este sitio web no utiliza cookies propias ni otras tecnologías de seguimiento para recopilar información sobre
        tu visita.
      </p>

      <h2>4. Enlaces a Sitios Externos</h2>
      <p>Mi portafolio puede contener enlaces a otros sitios web. No soy responsable de las prácticas de privacidad de
        esos sitios externos. Te recomiendo revisar sus políticas de privacidad antes de interactuar con ellos.</p>

      <h2>5. Seguridad</h2>
      <p>Aunque no se recopilan datos personales en este sitio, me comprometo a mantener un entorno seguro para todos
        los
        usuarios. Utilizo medidas técnicas y organizativas adecuadas para proteger el sitio web de accesos no
        autorizados,
        alteraciones, divulgación o destrucción de contenido.</p>

      <h2>6. Cambios en esta Política de Privacidad</h2>
      <p>Me reservo el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio se
        publicará en esta página con una fecha de actualización revisada.</p>
    </div>
  </div>
</section>